<h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
